.callout[data-callout="plant"] {
	--callout-color: 171, 235, 148;
	--callout-icon: lucide-flower-2;
}

.callout[data-callout="demon"] {
	--callout-color: 118, 72, 181;
	--callout-icon: lucide-brain-cog;
}